<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/add.css">

    

    <title>KMFFDB Add Page</title>
</head>
<body>
    <header>  
        <h1 class="blue">KMFFDB</h1>
        <h5 class="blue">Keith & Mitch Fringe Film Database</h5>
      </header>
    <div id="info-fields"> 
        <h3 class="info">Add Film</h3>
        <h3 class="info">Title</h3>
        <textarea id="fields" rows="4" cols="50" placeholder="Title"></textarea>
        <h3 class="info">Director</h3>
        <textarea id="fields" rows="4" cols="50" placeholder="Director"></textarea>
        <h3 class="info">Actors</h3>
        <form action="/actors" method="POST">
        <input type="text" name="name" placeholder="Actor">
        </form>
        <textarea id="fields" rows="4" cols="50" placeholder="Actors"></textarea>
        <h3 class="info">Upload Photos</h3>
        <h3 class="info">Actor Photos</h3>
        <textarea id="fields" rows="4" cols="50" placeholder="Actor Photo, URL's ONLY"></textarea>
        <h3 class="info">Movie Photos</h3>
        <textarea id="fields" rows="4" cols="50" placeholder="Movie Photo, URL's ONLY"></textarea>
    <div id="bottom-buttons">
        <button class="add-btn" type="button">Add</button>
        <button class="add-btn" type="button">Back</button>
    </div>
    </div>
    
</body>
</html>