body {
    background-image: radial-gradient(farthest-corner at 40px 40px,
    #090710 0%, #322759 100%);
    min-height: 100vh;
    color: #880055
  };

.blue {
    color: #880055;
    text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

header {
  margin: auto;
  width: 400px;
  padding: 5px;
}

h1 {
    font-size: 90px;
    text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

h3 {
    color:#880055;
    text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}


h5 {
    font-size: 25px;
    text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

#info-fields {
    margin: auto;
    width: 50%;
    padding: 5px;

}

.info {
    color: #880055;
    margin-top: -1px;
    padding: 5px;
    margin-left: -5px;
}

#fields {
    width: 50%;
    height: 20px;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.posterURL {
    padding: 5px;
}

#bottom-buttons {
    position: absolute;
    left: 35%;
    margin-bottom: 20px;
}

.add-btn {
    margin-bottom: 20px;
    background-color: #008866;
    height: 40px;
    width: 50px;
    color: white;
    border-radius: 5px;
    margin-left: -99px;
    
  }

  .a  {
      color: #880055;
      text-shadow: -.05px .05px 0 black, .05px -.05px 0 black, -.05px .05px 0 black, -.05px .05px 0 black;
}

  