body {
    background-image: radial-gradient(farthest-corner at 40px 40px,
    #090710 0%, #322759 100%);
  };

.blue {
    color: #033076
}

header {
  margin: auto;
  width: 400px;
  padding: 5px;
}

h1 {
    font-size: 90px;
}


h5 {
    font-size: 25px;
}

#info-fields {
    margin: auto;
    width: 50%;
    padding: 5px;

}

.info {
    color: #033076;
    margin-top: -1px;
}

#fields {
    width: 50%;
    height: 20px;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#bottom-buttons {
    position: absolute;
    left: 35%;
    margin-bottom: 20px;
}

.add-btn {
    margin-bottom: 20px;
    background-color: #033076;
    height: 40px;
    width: 50px;
    color: white;
    border-radius: 5px;
    
  }