body {
    background-image: radial-gradient(farthest-corner at 40px 40px,
    #090710 0%, #322759 100%);
}

.blue {
    color: #880055;
    text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

header {
  margin: auto;
  width: 400px;
  padding: 5px;
}

.home  {
    margin-left: 555px;
    color: #880055;
    text-shadow: -.05px .05px 0 black, .05px -.05px 0 black, -.05px .05px 0 black, -.05px .05px 0 black;
}

h1 {
    font-size: 90px;
    text-align: center;
}


h5 {
    font-size: 25px;
    text-align: center;
}

#info-fields {
    margin: auto;
    margin-left: 550px;
    width: 400px;
    padding: 5px;
    margin-bottom: 20px;

}

.info {
    color: #880055;
    text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
    margin-top: -1px;
    margin-bottom: 20px;
}

#fields {
    width: 50%;
    height: 20px;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#bottom-buttons {
    display: inline;
    position: absolute;
    left: 42%;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: -45px;
    display: flex;
}

.add-btn {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    background-color: #008866;
    height: 40px;
    width: 60px;
    color: white;
    border-radius: 5px;
    display: inline;
    padding-left: 5px;
    
  }

  