body {
    background-color: #aaaaaa;
    background: linear-gradient(to right,#404040, #ffffff);

}

header {
  margin: auto;
  width: 400px;
  padding: 5px;
}

h1 {
    font-size: 90px;
}

.blue {
    color: #033076
}

.actor-index {
    max-width: 200px;
    max-height: 200px;
}

.movie-index {
    max-width: 200px;
    max-height: 275px;
}



.actor_index_div {
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.movie_index_div {
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }

h5 {
    font-size: 25px;
}

p {
    color:#033076
}

span {
    text-align: center;
}


#searchbar {
    margin: auto;
    padding: 5px;
    width: 355px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#search-btn  {
    margin-left: 45%;
    background-color: #033076;
    color: white;
    border-radius: 5px;
}


