body {
    background-image: radial-gradient(farthest-corner at 40px 40px,
    #090710 0%, #322759 100%);
    min-height: 100vh;
  }

.actor-header {
    position: relative;
}

#actor-header__image {
    background-image: linear-gradient(to left, transparent, #090710),
    url("/images/John-Wick.jpeg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    margin-bottom: 10px;
    position: absolute;
    width: 53%;
    height: 99%;
    margin-left: 47%;
    box-shadow: 0 0 10px 10px #171328 inset;
}
/*
#actor-header {
    background-image: linear-gradient(to left, transparent, #090710),
        url("/images/John-Wick.jpeg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;

} 
*/



.actor-header__links {
    margin-left: 20px;
}

h1 {
    font-size: 90px;
}

.blue {
    color: #1554B4
}

.actor-index {
    max-width: 200px;
    max-height: 200px;
}

.movie-index {
    max-width: 200px;
    max-height: 275px;
}



.actor_index_div {
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;;
    }

.movie_index_div {
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    }

h5 {
    font-size: 25px;
}

p {
    color:#033076;
    
}

span {
    text-align: center;
}


#searchbar {
    margin: auto;
    padding: 5px;
    width: 355px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#search-btn  {
    margin-left: 45%;
    background-color: #033076;
    color: white;
    border-radius: 5px;
}

/*  
background-image: url("/images/John-Wick.jpeg");
background-repeat: no-repeat;
background-size: contain;
background-attachment: fixed;
background-position: 100%;
background-color: rgba(0,0,0,0.5);

*/