body {

  background-image: radial-gradient(farthest-corner at 40px 40px,
  #090710 0%, #322759 100%);
  min-height: 100vh;
};

.blue {
  color: #880055;
  text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

header {
  margin: auto;
  width: 400px;
  padding: 5px;
}

span {
  color: #880055;
  text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

h1 {
  font-size: 90px;
  color: #880055;
  text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

h2 {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 20px;
  color: #880055;
  text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

h3 {
  color: #880055;
  text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

h4 {
  font-size: 25px;
  color: #880055;
  text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
  margin-top: 10px;
}

h5 {
  font-size: 25px;
  color: #880055;
  text-shadow: -.05px .05px 0 darkgray, .05px -.05px 0 darkgray, -.05px .05px 0 darkgray, -.05px .05px 0 darkgray;
}

#left-side {
  display: inline-block;
  width: 50%;
  margin-left: 5%;
}

#right-side {
  display: inline-block;
  width: 50%;
  position: relative;
  margin-left: 50%;
}

#searchbar {
  background-color: lightgray;
  width: 355px;
  margin-bottom: 20px;
}

#search-btn {
  border-radius: 5px;
}

#thumbs {
  margin-bottom: 50px;
  display: flex;
}

#left-thumb {
  border-radius: 5px;
}

#right-thumb {
  border-radius: 5px;
}

#review {
  background-color: lightgray;
  display: block;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#submit {
  height: 32px;
  background-color: #008866;
  color: lightgray;
  border-radius: 5px;
  font-size: 32;
}

#cast {
    margin-left: 5%;
    padding: 5px;
}

#add-btn {
  font-size: 32px;
  color: #880055;
  
}

#edit-btn {
  font-size: 32px;
  color: #880055;
  margin-left: 5%;;
 
}

#rnd-btn {
  height: 40px;
  width: 50px;
  border-radius: 50px;
  background-color: #008866;
  color: lightgray;
  font-size: 25px;
  margin-left: 10px;
  
}

#actor-bio {
  margin-top: -7%;
  position: absolute;
}

.image {
  margin-top: -675px;
  margin-bottom: 6%;
  height: auto;
  width: 400px;
  border-radius: 5px;
  object-fit: cover;
  padding: 5px;
  border-radius: 5px;
}

.actor-image {
  margin-top: -407px;
  margin-bottom: 170px;
  max-height: 350px;
  width: 500px;
  border-radius: 5px;
  object-fit: cover;
  padding: 5px;
}

.cast-image {
  max-width: 100px;
  max-height: 136px;
  padding: 5px;
}

.title-image {
  max-width: 100px;
  max-height: 100px;
}


a  {
    color: #880055;
}

p {
  margin-top: -100px;
  height: 125px;
  width: 500px;
  color: #1554B4;
  font-size: 18px;

}

#home {
  margin-left: 0%;
}

.review {
    background-color: #880055;
    border-radius: 5px;
    color:lightgray;
    text-shadow: -.05px .05px 0 black, .05px -.05px 0 black, -.05px .05px 0 black, -.05px .05px 0 black;
    padding: 5px;
    max-width: 87%;
}

#thanks {
  margin-left: 5%;
  color: #008866; 
}

#cast-ul {
  position: absolute;
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin-left: 5%;
}

