<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/edit.css">
    <title>KMFFDB Edit Page</title>
</head>
<body>
    <header>  
        <h1 class="blue">KMFFDB</h1>
        <h5 class="blue">Keith & Mitch Fringe Film Database</h5>
      </header>
    <div id="info-fields"> 
        <form action="">
        <h3 class="info">Edit <%=movie.title%></h3>
        <h3 class="info">Title</h3>
        <input type="text" name="title" id="fields" rows="4" cols="50" placeholder="Edit Title">
    
        <h3 class="info">Director</h3>
        <input type="text" name="director" id="fields" rows="4" cols="50" placeholder="Edit Director">
        
        <h3 class="info">Upload Photos</h3>
        <input type="text" name="imgUrl" id="fields" rows="4" cols ="50" placeholder="Movie Poster, URL's ONLY"><br>

        <h3 class="info">Actors</h3>
        <textarea id="fields" rows="4" cols="50" placeholder="Actors"></textarea>

    <div id="bottom-buttons">
        <button class="add-btn" type="button">Edit</button>
        <button class="add-btn" type="button">Back</button>
        <button class="add-btn" type="button">Delete</button>
    </div>
    </form>
    </div>
    
</body>
</html>