<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="./index.css">
    <title>KMFFDB Index Page</title>
</head>
<body>


    <div class ="actor-header">  

        <div class="actor-header__links">

        <h1 class="blue">KMFFDB</h1>
        <h5 class="blue">Keith & Mitch Fringe Film Database</h5>
        <a href="/movies/new">Add a Movie</a><br>
        <a href="/actors/new">Add an Actor</a><br><br>
        <a href="/actors">Switch to Actor Database</a>
    </div><br>
      
    <div id="searchbar">
        <form action="/movies" method="GET" > 
            <p class="blue">Find Movies</p>
            <input type="text" name="search" placeholder="Search...">
            <input type="submit" value="Search">
        </form><br>
    </div>

</div>




    <div class="movie_index_div">
        <%  movies.forEach((movie, index ) => { %>
                <p><img class="movie-index" src="<%= movie.imgUrl%>"> </p> 
       <%  }) %>
      </div>
    
</body>
</html>