<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="/add.css">
    <title class="blue">KMFFDB Add Page</title>
</head>

<body>
    <header>  
        <h1 class="blue">KMFFDB</h1>
        <h5 class="blue">Keith & Mitch Fringe Film Database</h5>
      </header>


    <div id="info-fields"> 
        <h3 class="info">Add a Film</h3><br>

    <form action="/movies" method="POST">
        <h3 class="info">Title</h3>
        <input type="text" name="title" placeholder="Title"><br><br>
        
        <h3 class="info">Director</h3>
        <input type="text" name="director"  placeholder="Director"><br><br>
        
        <h3 class="info">Movie Photos</h3>
        <input type="text" name="imgUrl" placeholder="Movie Poster, URL's ONLY"><br><br>

            <select name="actors">
                <option value="" disabled selected>Select an Actor</option>
               <% actor.forEach( actor => { %>

                <option value="<%= actor._id%>">
                    <%= actor.name %>
                </option>
          <% }); %>
            </select><br><br>
        <input type="submit" value="Submit Movie">
    </form><br><br>

    <a class="a" href="javascript: javascript: history.go(-1)">Go Back</a><br><br>
    <a class="a" href="/movies">Movie Database Home</a>
</div>

    
</body>
</html>